.add {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.add > img {
  object-fit: contain;
  width: 1620px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1621px) {
  .add > img {
    width: 1260px;
  }
}

@media only screen and (max-width: 1263px) {
  .add > img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1152px) {
  .add > img {
    width: 90%;
  }
}
