.app {
  background-color: #eceff1 !important;
  scrollbar-width: none;
  overflow: hidden;
}

.app__body {
  margin-top: 15px;
  background-color: #eceff1 !important;
  display: grid;
  grid-template-columns: auto 310px 1000px 310px auto;
  grid-template-rows: 325px 315px;
}

/* Responsive app__body */

@media only screen and (max-width: 1621px) {
  .app__body {
    grid-template-columns: auto 220px 730px 310px auto;
    grid-template-rows: 325px 315px;
  }
}

@media only screen and (max-width: 1263px) {
  .app__body {
    grid-template-columns: auto 220px auto auto;
    grid-template-rows: 325px 315px;
  }
}

@media only screen and (max-width: 1152px) {
  .app__body {
    grid-template-columns: 1fr;
    grid-template-rows: 350px 350px;
    margin-right: 0;
    padding-right: 0;
  }

  .app__body > div {
    width: 90%;
  }
}

@media only screen and (max-width: 875px) {
  .app__body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-right: 0;
    padding-right: 0;
  }
}

/* APP Products */

.app__products {
  margin-top: 15px;
  background-color: #eceff1 !important;
  display: grid;
  grid-template-columns: auto 540px 540px 540px auto;
  grid-template-rows: 280px 280px 200px;
  overflow: hidden;
}

@media only screen and (max-width: 1621px) {
  .app__products {
    grid-template-columns: auto 420px 420px 420px auto;
  }
}

@media only screen and (max-width: 1263px) {
  .app__products {
    grid-template-columns: auto 400px 400px 400px auto;
  }
}

@media only screen and (max-width: 1152px) {
  .app__products {
    grid-template-columns: auto 450px 450px auto;
    grid-template-rows: 280px 280px 15px;
  }
}

@media only screen and (max-width: 875px) {
  .app__products {
    grid-template-columns: auto 50% 50% auto;
  }
}

@media only screen and (max-width: 736px) {
  .app__products {
    grid-template-columns: 1fr;
  }
}
